*.class
*.jar
*.war
*.ear
*.log
hs_err_pid*.log

.DS_Store

.gradle
build/
!gradle-wrapper.jar
.gradletasknamecache

/activator*
/.sbtserver
.sbtserver
.sbtserver.lock
/.classpath
/.project
/.settings
/RUNNING_PID
/projectFilesBackup*

/logs/
/target/
/project/target/
/project/project/
.cache
.cache-*
.history
.lib/
dist/*
lib_managed/
src_managed/
.scala_dependencies
.worksheet

/bin/
